Meta Data file of the flow.txt
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>Want_to_participate</name>
        <label>Want to participate</label>
        <locationX>516</locationX>
        <locationY>55</locationY>
        <defaultConnector>
            <targetReference>Thank_Patient</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Patient_Response</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>True</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Survey_Patients</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <description>Script for gathering patients satisfaction data</description>
    <dynamicChoiceSets>
        <name>Satisfaction_choices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Satisfaction__c</picklistField>
        <picklistObject>Clinical_Operations_Performance__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Service_choices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Service__c</picklistField>
        <picklistObject>Clinical_Operations_Performance__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Survey Patients {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Survey Patients</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Survey_Record</name>
        <label>Create Survey Record</label>
        <locationX>522</locationX>
        <locationY>381</locationY>
        <connector>
            <targetReference>Thank_Patient</targetReference>
        </connector>
        <inputAssignments>
            <field>Comments__c</field>
            <value>
                <elementReference>OtherComments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Patient_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Satisfaction__c</field>
            <value>
                <elementReference>Satisfaction</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service__c</field>
            <value>
                <elementReference>Service</elementReference>
            </value>
        </inputAssignments>
        <object>Clinical_Operations_Performance__c</object>
    </recordCreates>
    <screens>
        <name>Greet_Customer</name>
        <label>Greet Customer</label>
        <locationX>204</locationX>
        <locationY>53</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Want_to_participate</targetReference>
        </connector>
        <fields>
            <name>WelcomeMessage</name>
            <fieldText>&quot;Hello, This is &quot;Harish&quot; from &quot; North-Plano Urgent Care&quot; and asking if Interested in participating the survey.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Patient_Response</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Patient&apos;s Response</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Survey_Patients</name>
        <label>Survey Patients</label>
        <locationX>519</locationX>
        <locationY>239</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Survey_Record</targetReference>
        </connector>
        <fields>
            <name>ParticipationThanks</name>
            <fieldText>&quot;We, Thank you for accepting to participate 
in our survey&quot;.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Patient_Name</name>
            <dataType>String</dataType>
            <fieldText>&quot;Before we begin, can you confirm your name?&quot;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Service</name>
            <choiceReferences>Service_choices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&quot;How would you rate your interactions with the Doctor?&quot;</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Satisfaction</name>
            <choiceReferences>Satisfaction_choices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&quot;Of the following options, how satisfied are you with North-plano Urgent Care?&quot;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>OtherComments</name>
            <fieldText>&quot;Do you have any other comments you&apos;d like to share with us?&quot;</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Thank_Patient</name>
        <label>Thank Patient</label>
        <locationX>220</locationX>
        <locationY>381</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ThankCustomer</name>
            <fieldText>&quot;Thank you for your time. On behalf of everyone at North-Plano Urgent Care, we&apos;d like to thank you for being a customer. Have a great day!&quot;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>Greet_Customer</startElementReference>
</Flow>
